@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    @apply bg-gray-200
}


    .timeline-img {
        @apply  h-20 w-20 object-cover rounded-full shadow-md border-4 border-white;
    }

    .timeline-container {
        @apply relative pt-2;
    }

    .timeline-pointer {
        @apply absolute inset-0 h-4 w-4 transform rotate-45 bg-white;
        left: 10;
    }

    @screen sm {
        .timeline-img{
            @apply absolute;
        }

        .timeline-container {
            @apply pl-32 pt-0;
        }
        .timeline-pointer {
            top: 11;;
            left: 26;
        }
     }

     @screen md {
        .timeline-img{
            @apply mx-auto left-0 right-0;
        }

        .timeline-container {
            @apply w-1/2 ml-auto pl-16;
        }
        .timeline-container-left {
            @apply ml-0 mr-auto pl-0 pr-16;
        }
        .timeline-pointer-left {
            @apply left-auto;
            right: 12;
        }
        .timeline-pointer {
            left: 14;
        }
     }



.btn{
    @apply bg-blue-400 text-white font-bold rounded border border-blue-700 py-2 px-4 border-b-4
}
.repos-list{
    columns: 3;
    
    column-rule: 1px solid;
    
}

.skills__content {
    @apply  py-10 flex flex-col justify-center items-center

}



.repos-list li{
    @apply p-4;
    break-inside: avoid-column;
}

.vertical-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    @apply bg-teal-200 text-blue-700 text-xs p-2 inline-block
}

.txt-color-primary {
    color: #17dae8;
}


.bg-color-primary {
    background-color: #17dae8;
}

.bg-color-transparent {
    background-color: none;
}

button.rec-dot_active{
    background-color: #17dae8;
    box-shadow: 0 0 1px 3px #ffffff00;
}

  button.rec-dot:hover, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px #17dae8;
    
  }

  .rec.rec-arrow-left,
  .rec.rec-arrow-right{
      background-color: #ffffff00;
      box-shadow: 0 0 1px 3px #ffffff00;
      @apply w-4 m-0 p-0;
  }

  .rec.rec-arrow-left:hover, .rec.rec-arrow-left:hover:enabled, .rec.rec-arrow-left:focus:enabled
  .rec.rec-arrow-right:hover, .rec.rec-arrow-right:hover:enabled, .rec.rec-arrow-right:focus:enabled{
        background-color: #17dae8;
      box-shadow: 0 0 1px 3px rgba(237, 245, 245, 0.5);
  }

  .khvUfi:hover:enabled, .khvUfi:focus:enabled {
    color: #fff;
    background-color: #17dae8;
    box-shadow: 0 0 2px 0 #333;
}

  .btn-color-2 {
    border: rgb(253, 253, 253) 0.1rem solid;
  }
  
  
  .btn-color-2:hover {
    background: #17dae8;
    color: white;
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: #17dae8 0.1rem solid;
  }
  

  .btn-header {
    width: 12rem;
  }
